Source/StealFocus.Forecast/Configuration/StealFocusForecastConfigurationSectionDesigner.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:StealFocus.Forecast.Configuration" elementFormDefault="qualified" targetNamespace="urn:StealFocus.Forecast.Configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="stealFocusForecastConfiguration" type="tns:StealFocus.Forecast.Configuration.StealFocusForecastConfigurationCT" />
	<xs:complexType name="StealFocus.Forecast.Configuration.StealFocusForecastConfigurationCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="windowsAzureSubscriptions" type="tns:StealFocus.Forecast.Configuration.WindowsAzureSubscriptionConfigurationElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The WindowsAzureSubscriptions.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="windowsAzureStorageAccounts" type="tns:StealFocus.Forecast.Configuration.WindowsAzureStorageAccountConfigurationElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The WindowsAzureStorageAccounts.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="windowsAzurePackages" type="tns:StealFocus.Forecast.Configuration.WindowsAzurePackageConfigurationElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The WindowsAzurePackages.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="scheduleDefinitions" type="tns:StealFocus.Forecast.Configuration.ScheduleDefinitionConfigurationElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The ScheduleDefinitions.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="windowsAzureDeploymentDeletes" type="tns:StealFocus.Forecast.Configuration.WindowsAzureDeploymentDeleteConfigurationElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The WindowsAzureDeploymentDeletes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="windowsAzureDeploymentCreates" type="tns:StealFocus.Forecast.Configuration.WindowsAzureDeploymentCreateConfigurationElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The WindowsAzureDeploymentCreates.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="windowsAzureTableDeletes" type="tns:StealFocus.Forecast.Configuration.WindowsAzureTableDeleteConfigurationElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The WindowsAzureTableDeletes.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="customConfigurationSourceType" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The CustomConfigurationSourceType.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="StealFocus.Forecast.Configuration.WindowsAzureSubscriptionConfigurationElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="windowsAzureSubscription" type="tns:StealFocus.Forecast.Configuration.WindowsAzureSubscriptionConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The WindowsAzureSubscriptionConfigurationElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StealFocus.Forecast.Configuration.WindowsAzureSubscriptionConfigurationElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="subscriptionId" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The SubscriptionId.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="certificateThumbprint" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The CertificateThumbprint.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="id" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Id.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="StealFocus.Forecast.Configuration.WindowsAzurePackageConfigurationElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="windowsAzurePackage" type="tns:StealFocus.Forecast.Configuration.WindowsAzurePackageConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The WindowsAzurePackageConfigurationElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StealFocus.Forecast.Configuration.WindowsAzurePackageConfigurationElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="storageAccountName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The StorageAccountName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="containerName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ContainerName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="blobName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The BlobName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="id" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Id.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="StealFocus.Forecast.Configuration.WindowsAzureDeploymentDeleteConfigurationElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="windowsAzureDeploymentDelete" type="tns:StealFocus.Forecast.Configuration.WindowsAzureDeploymentDeleteConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The WindowsAzureDeploymentDeleteConfigurationElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StealFocus.Forecast.Configuration.WindowsAzureDeploymentDeleteConfigurationElementCT">
		<xs:sequence>
			<xs:element minOccurs="1" name="deploymentSlots" type="tns:StealFocus.Forecast.Configuration.DeploymentSlotConfigurationElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The DeploymentSlots.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="schedules" type="tns:StealFocus.Forecast.Configuration.ScheduleConfigurationElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The Schedules.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="serviceName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ServiceName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="subscriptionConfigurationId" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The SubscriptionConfigurationId.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="pollingIntervalInMinutes" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The PollingIntervalInMinutes.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="StealFocus.Forecast.Configuration.DeploymentSlotConfigurationElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="deploymentSlot" type="tns:StealFocus.Forecast.Configuration.DeploymentSlotConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The DeploymentSlotConfigurationElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StealFocus.Forecast.Configuration.DeploymentSlotConfigurationElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="StealFocus.Forecast.Configuration.ScheduleConfigurationElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="schedule" type="tns:StealFocus.Forecast.Configuration.ScheduleConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The ScheduleConfigurationElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StealFocus.Forecast.Configuration.ScheduleConfigurationElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="scheduleDefinitionName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ScheduleDefinitionName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="StealFocus.Forecast.Configuration.WindowsAzureDeploymentCreateConfigurationElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="windowsAzureDeploymentCreate" type="tns:StealFocus.Forecast.Configuration.WindowsAzureDeploymentCreateConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The WindowsAzureDeploymentCreateConfigurationElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StealFocus.Forecast.Configuration.WindowsAzureDeploymentCreateConfigurationElementCT">
		<xs:sequence>
			<xs:element minOccurs="1" name="schedules" type="tns:StealFocus.Forecast.Configuration.ScheduleConfigurationElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The Schedules.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="serviceName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ServiceName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="subscriptionConfigurationId" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The SubscriptionConfigurationId.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="pollingIntervalInMinutes" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The PollingIntervalInMinutes.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="deploymentSlot" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The DeploymentSlot.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="windowsAzurePackageId" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The WindowsAzurePackageId.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="deploymentName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The DeploymentName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="deploymentLabel" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The DeploymentLabel.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="packageConfigurationFilePath" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The PackageConfigurationFilePath.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="startDeployment" use="required" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The StartDeployment.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="treatWarningsAsError" use="required" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The TreatWarningsAsError.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="StealFocus.Forecast.Configuration.DayConfigurationElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="day" type="tns:StealFocus.Forecast.Configuration.DayConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The DayConfigurationElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StealFocus.Forecast.Configuration.DayConfigurationElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="startTime" use="required" type="xs:time">
			<xs:annotation>
				<xs:documentation>The StartTime.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="endTime" use="required" type="xs:time">
			<xs:annotation>
				<xs:documentation>The EndTime.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="StealFocus.Forecast.Configuration.ScheduleDefinitionConfigurationElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="scheduleDefinition" type="tns:StealFocus.Forecast.Configuration.ScheduleDefinitionConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The ScheduleDefinitionConfigurationElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StealFocus.Forecast.Configuration.ScheduleDefinitionConfigurationElementCT">
		<xs:sequence>
			<xs:element minOccurs="1" name="days" type="tns:StealFocus.Forecast.Configuration.DayConfigurationElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The Days.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="StealFocus.Forecast.Configuration.WindowsAzureTableDeleteConfigurationElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="windowsAzureTableDelete" type="tns:StealFocus.Forecast.Configuration.WindowsAzureTableDeleteConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The WindowsAzureTableDeleteConfigurationElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StealFocus.Forecast.Configuration.WindowsAzureTableDeleteConfigurationElementCT">
		<xs:sequence>
			<xs:element minOccurs="1" name="storageTables" type="tns:StealFocus.Forecast.Configuration.StorageTableConfigurationElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The StorageTables.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="schedules" type="tns:StealFocus.Forecast.Configuration.ScheduleConfigurationElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The Schedules.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Id.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="storageAccountName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The StorageAccountName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="pollingIntervalInMinutes" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The PollingIntervalInMinutes.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="StealFocus.Forecast.Configuration.StorageTableConfigurationElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="storageTable" type="tns:StealFocus.Forecast.Configuration.StorageTableConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The StorageTableConfigurationElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StealFocus.Forecast.Configuration.StorageTableConfigurationElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="tableName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The tableName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="StealFocus.Forecast.Configuration.WindowsAzureStorageAccountConfigurationElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="windowsAzureStorageAccount" type="tns:StealFocus.Forecast.Configuration.WindowsAzureStorageAccountConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The WindowsAzureStorageAccountConfigurationElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StealFocus.Forecast.Configuration.WindowsAzureStorageAccountConfigurationElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="storageAccountName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The storageAccountName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="storageAccountKey" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The storageAccountKey.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
