Source/StealFocus.Forecast/Configuration/StealFocusForecastConfigurationSectionDesigner.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:StealFocus.Forecast.Configuration" elementFormDefault="qualified" targetNamespace="urn:StealFocus.Forecast.Configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="stealFocusForecastConfiguration" type="tns:StealFocus.Forecast.Configuration.StealFocusForecastConfigurationCT" />
	<xs:complexType name="StealFocus.Forecast.Configuration.StealFocusForecastConfigurationCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="windowsAzureSubscriptions" type="tns:StealFocus.Forecast.Configuration.WindowsAzureSubscriptionConfigurationElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The WindowsAzureSubscriptions.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="windowsAzurePackages" type="tns:StealFocus.Forecast.Configuration.WindowsAzurePackageConfigurationElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The WindowsAzurePackages.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="windowsAzureDeploymentDeletes" type="tns:StealFocus.Forecast.Configuration.WindowsAzureDeploymentDeleteConfigurationElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The WindowsAzureDeploymentDeletes.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StealFocus.Forecast.Configuration.WindowsAzureSubscriptionConfigurationElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="windowsAzureSubscription" type="tns:StealFocus.Forecast.Configuration.WindowsAzureSubscriptionConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The WindowsAzureSubscriptionConfigurationElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StealFocus.Forecast.Configuration.WindowsAzureSubscriptionConfigurationElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="subscriptionId" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The SubscriptionId.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="certificateThumbprint" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The CertificateThumbprint.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="id" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Id.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="StealFocus.Forecast.Configuration.WindowsAzurePackageConfigurationElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="windowsAzurePackage" type="tns:StealFocus.Forecast.Configuration.WindowsAzurePackageConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The WindowsAzurePackageConfigurationElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StealFocus.Forecast.Configuration.WindowsAzurePackageConfigurationElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="storageAccountName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The storageAccountName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="containerName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The containerName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="blobName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The blobName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="id" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Id.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="StealFocus.Forecast.Configuration.WindowsAzureDeploymentDeleteConfigurationElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="windowsAzureDeploymentDelete" type="tns:StealFocus.Forecast.Configuration.WindowsAzureDeploymentDeleteConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The WindowsAzureDeploymentDeleteConfigurationElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StealFocus.Forecast.Configuration.WindowsAzureDeploymentDeleteConfigurationElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="serviceName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ServiceName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="deploymentSlot" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The DeploymentSlot.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="scheduledTime" use="required" type="xs:dateTime">
			<xs:annotation>
				<xs:documentation>The ScheduledTime.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="id" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Id.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="subscriptionConfigurationId" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The SubscriptionConfigurationId.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
