Source/StealFocus.Forecast/Configuration/StealFocusForecastConfigurationSectionDesigner.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:StealFocus.Forecast.Configuration" elementFormDefault="qualified" targetNamespace="urn:StealFocus.Forecast.Configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="stealFocusForecastConfiguration" type="tns:StealFocus.Forecast.Configuration.StealFocusForecastConfigurationCT" />
	<xs:complexType name="StealFocus.Forecast.Configuration.StealFocusForecastConfigurationCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="scheduleDefinitions" type="tns:StealFocus.Forecast.Configuration.ScheduleDefinitionConfigurationElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The ScheduleDefinitions.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="windowsAzure" type="tns:StealFocus.Forecast.Configuration.WindowsAzureConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The WindowsAzure.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="customConfigurationSourceType" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The CustomConfigurationSourceType.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="StealFocus.Forecast.Configuration.WindowsAzureSubscriptionConfigurationElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="subscription" type="tns:StealFocus.Forecast.Configuration.WindowsAzureSubscriptionConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The WindowsAzureSubscriptionConfigurationElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StealFocus.Forecast.Configuration.WindowsAzureSubscriptionConfigurationElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="subscriptionId" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The SubscriptionId.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="certificateThumbprint" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The CertificateThumbprint.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="id" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Id.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="StealFocus.Forecast.Configuration.WindowsAzurePackageConfigurationElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="package" type="tns:StealFocus.Forecast.Configuration.WindowsAzurePackageConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The WindowsAzurePackageConfigurationElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StealFocus.Forecast.Configuration.WindowsAzurePackageConfigurationElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="storageAccountName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The StorageAccountName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="containerName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ContainerName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="blobName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The BlobName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="id" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Id.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="StealFocus.Forecast.Configuration.WindowsAzureDeploymentDeleteConfigurationElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="deploymentDelete" type="tns:StealFocus.Forecast.Configuration.WindowsAzureDeploymentDeleteConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The WindowsAzureDeploymentDeleteConfigurationElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StealFocus.Forecast.Configuration.WindowsAzureDeploymentDeleteConfigurationElementCT">
		<xs:sequence>
			<xs:element minOccurs="1" name="deploymentSlots" type="tns:StealFocus.Forecast.Configuration.DeploymentSlotConfigurationElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The DeploymentSlots.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="schedules" type="tns:StealFocus.Forecast.Configuration.ScheduleConfigurationElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The Schedules.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="serviceName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ServiceName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="subscriptionConfigurationId" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The SubscriptionConfigurationId.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="pollingIntervalInMinutes" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The PollingIntervalInMinutes.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="StealFocus.Forecast.Configuration.DeploymentSlotConfigurationElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="deploymentSlot" type="tns:StealFocus.Forecast.Configuration.DeploymentSlotConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The DeploymentSlotConfigurationElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StealFocus.Forecast.Configuration.DeploymentSlotConfigurationElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="StealFocus.Forecast.Configuration.ScheduleConfigurationElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="schedule" type="tns:StealFocus.Forecast.Configuration.ScheduleConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The ScheduleConfigurationElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StealFocus.Forecast.Configuration.ScheduleConfigurationElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="scheduleDefinitionName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ScheduleDefinitionName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="StealFocus.Forecast.Configuration.WindowsAzureDeploymentCreateConfigurationElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="deploymentCreate" type="tns:StealFocus.Forecast.Configuration.WindowsAzureDeploymentCreateConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The WindowsAzureDeploymentCreateConfigurationElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StealFocus.Forecast.Configuration.WindowsAzureDeploymentCreateConfigurationElementCT">
		<xs:sequence>
			<xs:element minOccurs="1" name="schedules" type="tns:StealFocus.Forecast.Configuration.ScheduleConfigurationElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The Schedules.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="serviceName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ServiceName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="subscriptionConfigurationId" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The SubscriptionConfigurationId.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="pollingIntervalInMinutes" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The PollingIntervalInMinutes.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="deploymentSlot" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The DeploymentSlot.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="windowsAzurePackageId" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The WindowsAzurePackageId.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="deploymentName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The DeploymentName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="deploymentLabel" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The DeploymentLabel.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="packageConfigurationFilePath" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The PackageConfigurationFilePath.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="startDeployment" use="required" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The StartDeployment.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="treatWarningsAsError" use="required" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The TreatWarningsAsError.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="StealFocus.Forecast.Configuration.DayConfigurationElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="day" type="tns:StealFocus.Forecast.Configuration.DayConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The DayConfigurationElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StealFocus.Forecast.Configuration.DayConfigurationElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="startTime" use="required" type="xs:time">
			<xs:annotation>
				<xs:documentation>The StartTime.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="endTime" use="required" type="xs:time">
			<xs:annotation>
				<xs:documentation>The EndTime.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="StealFocus.Forecast.Configuration.ScheduleDefinitionConfigurationElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="scheduleDefinition" type="tns:StealFocus.Forecast.Configuration.ScheduleDefinitionConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The ScheduleDefinitionConfigurationElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StealFocus.Forecast.Configuration.ScheduleDefinitionConfigurationElementCT">
		<xs:sequence>
			<xs:element minOccurs="1" name="days" type="tns:StealFocus.Forecast.Configuration.DayConfigurationElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The Days.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="StealFocus.Forecast.Configuration.WindowsAzureTableDeleteConfigurationElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="tableDelete" type="tns:StealFocus.Forecast.Configuration.WindowsAzureTableDeleteConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The WindowsAzureTableDeleteConfigurationElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StealFocus.Forecast.Configuration.WindowsAzureTableDeleteConfigurationElementCT">
		<xs:sequence>
			<xs:element minOccurs="1" name="storageTables" type="tns:StealFocus.Forecast.Configuration.StorageTableConfigurationElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The StorageTables.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="schedules" type="tns:StealFocus.Forecast.Configuration.ScheduleConfigurationElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The Schedules.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Id.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="storageAccountName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The StorageAccountName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="pollingIntervalInMinutes" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The PollingIntervalInMinutes.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="StealFocus.Forecast.Configuration.StorageTableConfigurationElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="storageTable" type="tns:StealFocus.Forecast.Configuration.StorageTableConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The StorageTableConfigurationElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StealFocus.Forecast.Configuration.StorageTableConfigurationElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="tableName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The tableName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="StealFocus.Forecast.Configuration.WindowsAzureStorageAccountConfigurationElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="storageAccount" type="tns:StealFocus.Forecast.Configuration.WindowsAzureStorageAccountConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The WindowsAzureStorageAccountConfigurationElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StealFocus.Forecast.Configuration.WindowsAzureStorageAccountConfigurationElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="storageAccountName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The storageAccountName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="storageAccountKey" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The storageAccountKey.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="StealFocus.Forecast.Configuration.WindowsAzureBlobContainerDeleteConfigurationElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="blobContainerDelete" type="tns:StealFocus.Forecast.Configuration.WindowsAzureBlobContainerDeleteConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The WindowsAzureBlobContainerDeleteConfigurationElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StealFocus.Forecast.Configuration.WindowsAzureBlobContainerDeleteConfigurationElementCT">
		<xs:sequence>
			<xs:element minOccurs="1" name="blobContainers" type="tns:StealFocus.Forecast.Configuration.BlobContainerConfigurationElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The BlobContainers.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="schedules" type="tns:StealFocus.Forecast.Configuration.ScheduleConfigurationElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The Schedules.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Id.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="storageAccountName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The StorageAccountName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="pollingIntervalInMinutes" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The PollingIntervalInMinutes.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="StealFocus.Forecast.Configuration.BlobContainerConfigurationElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="blobContainer" type="tns:StealFocus.Forecast.Configuration.BlobContainerConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The BlobContainerConfigurationElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StealFocus.Forecast.Configuration.BlobContainerConfigurationElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="blobContainerName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The blobContainerName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="StealFocus.Forecast.Configuration.WindowsAzureConfigurationElementCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="subscriptions" type="tns:StealFocus.Forecast.Configuration.WindowsAzureSubscriptionConfigurationElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The Subscriptions.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="hostedService" type="tns:StealFocus.Forecast.Configuration.WindowsAzureHostedServiceConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The HostedService.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="storageService" type="tns:StealFocus.Forecast.Configuration.WindowsAzureStorageServiceConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The StorageService.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StealFocus.Forecast.Configuration.WindowsAzureHostedServiceConfigurationElementCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="packages" type="tns:StealFocus.Forecast.Configuration.WindowsAzurePackageConfigurationElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The Packages.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="deploymentDeletes" type="tns:StealFocus.Forecast.Configuration.WindowsAzureDeploymentDeleteConfigurationElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The DeploymentDeletes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="deploymentCreates" type="tns:StealFocus.Forecast.Configuration.WindowsAzureDeploymentCreateConfigurationElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The DeploymentCreates.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="scheduledHorizontalScales" type="tns:StealFocus.Forecast.Configuration.WindowsAzureScheduledHorizontalScaleConfigurationElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The ScheduledHorizontalScales.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StealFocus.Forecast.Configuration.WindowsAzureStorageServiceConfigurationElementCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="storageAccounts" type="tns:StealFocus.Forecast.Configuration.WindowsAzureStorageAccountConfigurationElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The StorageAccounts.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="tableDeletes" type="tns:StealFocus.Forecast.Configuration.WindowsAzureTableDeleteConfigurationElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The TableDeletes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="blobContainerDeletes" type="tns:StealFocus.Forecast.Configuration.WindowsAzureBlobContainerDeleteConfigurationElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The BlobContainerDeletes.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StealFocus.Forecast.Configuration.WindowsAzureScheduledHorizontalScaleConfigurationElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="scheduledHorizontalScale" type="tns:StealFocus.Forecast.Configuration.WindowsAzureScheduledHorizontalScaleConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The WindowsAzureScheduledHorizontalScaleConfigurationElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StealFocus.Forecast.Configuration.WindowsAzureScheduledHorizontalScaleConfigurationElementCT">
		<xs:sequence>
			<xs:element minOccurs="1" name="schedules" type="tns:StealFocus.Forecast.Configuration.ScheduleConfigurationElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The Schedules.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Id.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="serviceName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ServiceName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="subscriptionConfigurationId" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The SubscriptionConfigurationId.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="pollingIntervalInMinutes" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The PollingIntervalInMinutes.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="deploymentSlot" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The DeploymentSlot.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="roleName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The RoleName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="instanceCount" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The InstanceCount.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="treatWarningsAsError" use="required" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The TreatWarningsAsError.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="mode" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Mode.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
